.favourite-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: var(--favourite-item-background);
    border-radius: 9px;
    transition-duration: 0.15s;

    &:hover {
        transform: translate(0, -0.4rem) rotate(0) skewX(0) skewY(0) scaleX(1)
            scaleY(1);
        --tw-translate-y: -0.4rem;
    }
}

.title {
    font-size: 1.4rem;
    line-height: 1.4rem;
    height: 1.5rem;
    margin-left: 16px;
    color: var(--white);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.img {
    height: 48px;
    width: 34px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
