.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-header);
    padding: 0 24px;
}

.container {
    display: flex;
    align-items: center;
}

.heading {
    color: var(--white);
    font-weight: 700;
    background-color: var(--green);
    padding: 6.3px 12px;
    margin-right: 40px;
    font-size: 18px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
}
