.wrapper {
    margin: 24px 0 24px 24px;
    min-height: 80vh;
    width: var(--width-sidebar);
    background-color: var(--white);
    border-radius: 24px;
    padding: 32px;
    position: fixed;
}

.logo {
    height: 48px;
    width: 100%;
}

.aside {
    margin-top: 48px;
}

// Menu Item
.active {
    font-size: 1.8rem;

    &:hover {
        background-color: rgb(129 140 248/1);
        transform: translate(0, -0.4rem) rotate(0) skewX(0) skewY(0) scaleX(1)
            scaleY(1);
        --tw-translate-y: -0.4rem;
        color: var(--white);
    }
}

.default {
    font-size: 1.8rem;

    &:hover {
        background-color: rgb(224 231 255/1);
        transform: translate(0, -0.4rem) rotate(0) skewX(0) skewY(0) scaleX(1)
            scaleY(1);
        --tw-translate-y: -0.4rem;
    }
}

// favourite
.favourite {
    margin-top: 48px;
}

.menu-favourite {
    max-height: 204px;
    overflow: hidden scroll;
}

.menu-favourite::-webkit-scrollbar {
    width: 0;
}

.favouriteItem-active {
    background-image: linear-gradient(
        to right,
        var(--favourite-item-background),
        #818cf8
    );
}

//footer-sidebar
.footer {
    margin-top: 48px;
    height: 63px;
    display: flex;
    align-items: flex-end;
}

.footer-sidebar {
    font-size: 1.28rem;
    line-height: 2rem;
    color: #6b7280;
}
